@font-face {
    font-family: "Poppins";
    src: url('../assests/fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('../assests/fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url('../assests/fonts/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}